*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #FFFFFF;
}

.main-div {
  width: 100%;
  height: 100vh;
  background-image: url(./assets/bgImage.png);
  background-color: #070724;
}
.page-btn {
border: none;
background: transparent;
cursor: pointer;
}
.header {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  align-items: center;
  border-bottom: 0.3px solid #FFFFFF;
}

.header h1 {
  color: white;
  padding-left: 20px;
  font-family: "Antonio", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -1.05px;
  text-transform: uppercase;
}

.header ul {
  display: flex;
  color: white;
  gap: 35px;
  padding-right: 20px;
  height: 92px;
  align-items: center;
}

.header ul a {
  text-decoration: none;
}

.header ul li {
  list-style: none;
  text-transform: uppercase;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 11px;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  height: 100%;
  display: flex;
  align-items: center;
}

.header ul li:hover {
  border-top: 4px solid #419EBB;
}

.title {
  color: #FFFFFF;
  height: 104px;
  width: 263px;
  font-family: "Antonio", sans-serif;
  font-weight: 400;
  font-size: 80px;
  line-height: 100%;
  letter-spacing: 0px;
  text-transform: uppercase;
}

.info {
  width: 350px;
  height: 150px;
  font-family: "League Spartan", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0px;
  color: #FFFFFF;
}

.source {
  font-family: "League Spartan", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0px;
  opacity: 50%;
  display: flex;
  align-items: center;
}

.source a {
  margin-left: 10px;
}

.source::after {
  content: url(./assets/icon.svg);
  height: 18px;
  margin-left: 5px;
}

img {
  margin-left: 120px;
}

.middle {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 70vh;
  gap: 100px;
}

.middle-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 120px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
}


.buttons button {
  height: 48px;
  width: 350px;
  border: 1px solid gray;
  background-color: transparent;
}

.buttons button {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-left: 20px;
  cursor: pointer;
}

.buttons span {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 2.57px;
  text-transform: uppercase;
  opacity: 50%;
  color: #FFFFFF;
}

.buttons p {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 2.57px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.buttons button:hover {
  background-color: gray;
  border: none;
}

.buttons button:focus {
  background-color: #419EBB;
  border: none;
}

.footer {
  display: flex;
  justify-content: space-evenly;
}


.footer div {
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 255px;
  height: 128px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}

.footer div p {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 11px;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 50%;
}


.footer div h1 {
  font-family: "League Spartan", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -1.5px;
  text-transform: uppercase;
  color: #FFFFFF;
}


.relative-show {
position: relative;
width: 400px;
height: 400px;
display: flex;
}

.relative :first-child {
  transform: translateX(2%);
}

.relative-show :last-child {
  transform: translateX(-160%);
}

.geology {
  position: absolute;
  left: 18.6%;
  bottom: 20%;
}

.universe {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #0b0c2a;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  position: absolute;
  top: 30px;
  color: white;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 2px;
  z-index: 10;
}

.sun {
  position: absolute;
  width: 100px;
  height: 100px;
  background: #ffd700;
  border-radius: 50%;
  box-shadow: 0 0 80px 25px #ffef93;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px dashed rgba(255, 255, 255, 0.08);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: spin linear infinite;
}

.planet {
  position: absolute;
  top: 0;
  left: 50%;
  border-radius: 50%;
  transform: translateX(-50%);
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}